.admonition-student-response-section {
  color: #557A42;
  border-left-color: #557A42 !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.admonition-student-response-section > .admonition-title {
  color: #557A42;
  background-color: rgba(85, 122, 66, .1) !important;
}

/* This is the little (i) icon of the admonition */
.admonition-student-response-section > .admonition-title:before {
  color: #557A42 !important;
}

/*
 * We can't just leave the paragraph blank or the admonition
 * isn't valid, so we hide it like this instead. 
 */
.admonition-student-response-section > p:not(.admonition-title) {
  display: none;
}