.admonition-student-response-section {
  color: #557A42;
  border-left-color: #557A42;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.admonition-student-response-section > .admonition-title {
  color: #557A42;
  background-color: rgba(85, 122, 66, .1);
}

/* This is the little (i) icon of the admonition */
.admonition-student-response-section > .admonition-title:before {
  color: #557A42;
}